.text-body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* /* .menu {
  .. 
} */
/* <============HEADER==========> */
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo {
  color: #4d5ae5;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contact-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-phone-number {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* <===============HERO=============> */
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  /* color: #ffffff; */
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  /* color: #ffffff; */
}

/* <==============ADVANTAGES===========> */
/* .hero-item {
} */
.subtitle-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-hero {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* <===================EXAMPLES of WORK=========> */
.title-examples {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* <===============OUR TEAM==========> */
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.subtitle-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* text-align: center; */
  letter-spacing: 0.02em;
}
.text-team {
  font-size: 16px;
  line-height: 24px;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: #434455;
}
/* <=========FOOTER============> */
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
